<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Accounts", accounts_path %></li>
    <li class="breadcrumb-item"><%= link_to @account.name, account_path(@account) %></li>
    <li class="breadcrumb-item"><%= link_to "Subscriptions", account_subscriptions_path(@account) %></li>
    <li class="breadcrumb-item active">New Subscription</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>New Subscription</h1>
    <p class="text-muted">Create a subscription for <%= @account.name %></p>
    <%= render "form", subscription: @subscription %>
    <%= link_to "Back", account_subscriptions_path(@account), class: "btn btn-secondary mt-3" %>
  </div>
</div>